<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Snack</title>
  </head>

  <body>
    <h1>Make your decision!</h1>
    <img src="https://theultimatesmackdown.files.wordpress.com/2012/01/doritos-vs-cheetos.png">

    <!-- Insert Your Form Below -->
    <form method="POST" action="/decision">
      <p>Your Name: <input type="text" name="name"></p>
      <p>Cheetos or Doritos? <input type="text" name="answer"></p>
      <input type="submit">
    </form>

  </body>
</html>